*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    color: black;
    font-family: 'Poppins', sans-serif;
}

.main{
    height: 100vh;
    background-image: linear-gradient( to bottom right,#E0FFFF, #87CEEB, Aquamarine);
     
    
}

.container{
    height: 100vh;
}

.main .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    
}

.main .container h2{
    color: rgb(236, 83, 83);
    
    
}





